<!DOCTYPE html>
<html>
<head>
  <title>Create Quiz</title>
  <script>
    function addQuestion() {
      const container = document.getElementById('questionsContainer');
      const index = container.children.length;

      const html = `
        <div class="question-block">
          <h3>Question ${index + 1}</h3>
          
          <label>Question Text:</label><br>
          <input name="questions[${index}][text]" required><br>

          <label>Options (comma separated):</label><br>
          <input name="questions[${index}][options]" required><br>

          <label>Correct Answer (Index):</label><br>
          <input type="number" name="questions[${index}][correctAnswer]" min="0" required><br>

          <label>Tags (comma separated):</label><br>
          <input name="questions[${index}][tags]"><br><br>
        </div>
      `;
      container.insertAdjacentHTML('beforeend', html);
    }

    window.onload = () => {
      addQuestion(); // Add the first question block by default
    };
  </script>
</head>
<body>
  <h1>Create Quiz</h1>

  <form action="/v1/quiz" method="POST">
    <label>Quiz Name:</label><br>
    <input name="quizName" required><br><br>

    <label>Tags (comma separated):</label><br>
    <input name="tags"><br><br>

    <div id="questionsContainer">
      <!-- Initial question block will be inserted by JS -->
    </div>

    <button type="button" onclick="addQuestion()">Add Another Question</button><br><br>
    <button type="submit">Create Quiz</button>
  </form>
</body>
</html>
